



@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/IRANSans/woff2/IRANSansWeb_Black.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSans/woff/IRANSansWeb_Black.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSans/eot/IRANSansWeb.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

html {
    position: relative;
    min-height: 100%;
    width: 100%;
    /*background: #2C99FE;*/
}

body {
    /*background: #3A677D;*/
    font-family: IRANSans !important;
    /* background: #1F2936; */
    background: #100E17;
    color: #100E17;
}

::-webkit-scrollbar {
    display: none;
}

.NAV svg {
    color: tomato;
}




.IndexContainer {
    display: -webkit-flex;
    -webkit-flex-direction: reverse;
    display: flex;
    flex-direction: reverse;
    height: 100vh;
    box-shadow: 0 0 10px #00000090 !important;
    backdrop-filter: blur(15px) !important;
    flex-flow: row wrap-reverse;
    justify-content:center;
    align-items: center;
    align-content: center;
}

.IndexContainer div {
    flex-grow: 2;
    align-items: center;
    -webkit-align-items: center;
}
.ITEM {
    flex-basis: 50%;
}
@media only screen and (max-width: 989px) {
    .IndexContainer {
        flex-flow: row wrap;
    }
    .ITEM {
        flex-basis: 100%;
    }
    .Scroll {
        margin: 0;
        height: 50%;
    }
}
.Location {
    display: flex;
    /* position: absolute;
    left: 25%;
    top: 55%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 50%; */
}
.Location iframe {
    height: 90vh;
    width: 100%;
    background: #100E17;
}
.Scroll {
    display: flex;
    background: #100E17;
    height: 90%;
}



.Social svg {
    color: tomato;
    transition: .3s ease-out;
}
.Social svg:hover,
.container strong a:hover,
.NAV svg:hover {
    color: darkorange !important;
    transition: .3s ease-in;
}
.Social .WA svg {
    color: darkorange;
}
.Social .WA svg:hover {
    color: tomato !important;
}










/* Provide sufficient contrast against white background */
a {
    color: #2C99FE;
    transition: all .2s ease;
    text-decoration: 1px dashed #000;
}

    a:hover {
        color: #F6F6F6;
        transition: all .5s ease;
    }



    

    .modal-content {
        font-family: 'Big Shoulders Stencil Text', cursive;
        color: tomato;
        background: #1F2936 !important;
    }
    h5.modal-title {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .modal-fullscreen {
        backdrop-filter: blur(15px) !important;
    }
    .modal-body {
        font-family: IRANSans !important;
        background: #100E17;
        color: #1F2936;
        flex-wrap: wrap-reverse;
        border: 2.5px solid #00000010 !important;
        border-radius: 2px;
        font-weight: 700;
        font-size: 25px;
    }
    .modal-header .btn-close {
        color: red !important;

    }
    .modal-header,
    .modal-footer {
        box-shadow: 0 0 10px #00000090 !important;
        backdrop-filter: blur(15px) !important;
        border: none !important;
    }
     






    .carousel-inner {
        height: 100%;
    }



















    
